* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    /* flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(45, 62, 143));
    font-family: sans-serif;
    color: white; */
}

a {
    text-decoration: none;
    color: inherit;
}

.forecast-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(45, 62, 143));
    font-family: sans-serif;
    color: white;
}

#location,
#temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: 2s ease-in;
}

#temperature {
    flex-direction: column;
}

#degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#degree-section span {
    margin: 10px;
    font-size: 30px;
}

#degree-section h2 {
    font-size: 40px;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 2s ease-in;
}

.bar {
    width: 6px;
    height: 60px;
    background: white;
    display: inline-block;
    transform-origin: bottom center;
    animation: loading 1.5s ease-in-out infinite;
}

.bar1 {
    animation-delay: 0.1s;
}

.bar2 {
    animation-delay: 0.2s;
}

.bar3 {
    animation-delay: 0.3s;
}

.bar4 {
    animation-delay: 0.4s;
}

.bar5 {
    animation-delay: 0.5s;
}

.bar6 {
    animation-delay: 0.6s;
}

.bar7 {
    animation-delay: 0.7s;
}

.bar8 {
    animation-delay: 0.8s;
}

@keyframes loading {
    0% {
        transform: scaleY(0.1);
        background: #fff;
    }

    50% {
        transform: scaleY(1);
        background: linear-gradient(#aaa00c, #fff);
    }

    100% {
        transform: scaleY(0.1);
        background: transparent;
    }
}

/* TODO: add dynamic background */